* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}
@media screen and (min-width: 1024px) {
  html {
    font-size: 42px !important;
  }
}
@media screen and (max-width: 1920px) {
  html {
    font-size: 80px !important;
  }
}
body {
  background: url(../images/bg.jpg) no-repeat top center;
  line-height: 1.15;
}
p{
  color: rgba(255,255,255,.8)
}
.mainBox {
  display: flex;

  width:700px;
  min-width: 400px;
  max-width: 1920px;
  position: absolute;
  left: 28%;
  margin: 0 auto;
  padding: 0.125rem 0.125rem 0;
}
.mainBox .column {
  flex: 3;
}
.mainBox .panel {
  position: relative;
  height: 3.875rem;
  width: 650px;
  border: 1px solid rgba(25, 186, 139, 0.17);
  /*background: url(../images/line1.png) rgba(255, 255, 255, 0.04);*/
  padding: 0 0.1875rem 0.5rem;
  margin-bottom: 0.1875rem;
}
.mainBox .panel::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  border-left: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
}
.mainBox .panel::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 10px;
  width: 10px;
  border-right: 2px solid #02a6b5;
  border-top: 2px solid #02a6b5;
}
.mainBox .panel .panel_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.mainBox .panel .panel_footer::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10px;
  width: 10px;
  border-left: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
}
.mainBox .panel .panel_footer::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10px;
  width: 10px;
  border-right: 2px solid #02a6b5;
  border-bottom: 2px solid #02a6b5;
}
.mainBox .panel h2 {
  height: 0.6rem;
  color: #fff;
  line-height: 0.6rem;
  font-size: 0.25rem;
  text-align: center;
  font-weight: 400;
}
.mainBox .panel h2 a {
  margin: 0 0.1875rem;
  color: #fff;
  text-decoration: underline;
}
.mainBox .panel .chart {
  height: 3rem;
  width: 600px;
}
@font-face {
  font-family: electronicFont;
  src: url(../font/DS-DIGIT.TTF);
}

.exp{
  display: flex;
  width: 7rem;
  position: absolute;
  top: 335px;
  left: 5.625rem;
  margin: 0 auto;
  padding: 0.125rem 0.125rem 0;
  font-size: 15px;
}
